.admin-form{
    width: 100vw;
    height: auto;
}
.admin-form__content{
    width: 100vw;
}
.admin-form__heading{
    width: 100%;
    height: 46px;
    letter-spacing: 0;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
}
.title{
    font-family: 'Inika', serif;
    font-size: 35px;
    font-weight: 400;
    color: #8B7969;
}
.admin-form__body{
    width: 1183px;
    height: auto;
    margin: 0 auto;
}
.search-items{
    width: 100%;
    height: auto;
}
.search-item-form__group{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.search-name{
    width: 347.47px;
}
.search-gender{
    width: 102.48px;
    position: relative;
}
.gender__select,
.form-control{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.search-gender::after,
.search-category::after{
    content: '▼';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #beb1a6;

}
.search-category{
    width: 223.04px;
    position: relative;
}
.search-date{
    width: 148.87px;
}
.date-of-contact{
    position: relative;
}
.date-of-contact::-webkit-calendar-picker-indicator{
    background: transparent;
    z-index:1;
}
.date-of-contact::after{
    content: '▼';
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
    color: #beb1a6;
}
.search-items input,
.search-items select{
    width: 100%;
    height: 50px;
    padding: 0 12px;
    font-size: 17px;
    font-family: 'Inika', serif;
    color: #8B7969;
    border: 1px solid #e3ded9;
    background-color: #f4f4f4;
    box-sizing: border-box;
}
.form__button__group{
    width: 236.676px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-form__button,
.reset-search-form__button{
    width: 102.48px;
    height: 50px;
    border: 1px solid #d9c6b5;
}
.search-form__button-submit{
    width: 100%;
    height: 100%;
    font-family: 'Inika', serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    background-color: #8B7969;
    cursor: pointer;
}
.reset-search-form__button button{
    height: 100%;
    width: 100%;
    font-family: 'Inika', serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    text-decoration: none;
    background-color: #d9c6b5;
    cursor: pointer;
}
.export-paginate{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Inika', serif;
    font-size: 18px;
    font-weight: 400;
    color: #8B7969;
}
.admin_export{
    padding: 8px 20px;
    background-color: #e1dbd6;
}
.csv-export-button{
    width: 100%;
    height: 100%;
    font-family: 'Inika', serif;
    font-size: 18px;
    font-weight: 400;
    color: #8B7969;
    border: none;
    background: none;
}
.contact-list__table{
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.contact__table{
    width: 100%;
    border: 1px solid #e0dfde;
}
.contact__table__row{
    width: 100%;
    height: 72.98px;
    border-bottom: 1px solid #e0dfde;
    border-left: 1px solid #e0dfde;
    border-right: 1px solid #e0dfde;
}
th,
td{
    font-family: 'Inika', serif;
    padding: 5px 20px;
    font-size: 20px;
}
.gender,
.td-gender,
.td-detail{
    text-align: center;
}
.name,
.email,
.category,
.td-name,
.td-email,
.td-category{
    text-align: left;
    padding-left: 30px;
}
.name,
.email,
.gender,
.category,
.detail{
    background-color: #8b7969;
    color: #ffffff;
    font-weight: 700;
}
.td-name,
.td-gender,
.td-email,
.td-category,
.td-detail{
    color: #8B7969;
    font-weight: 400;
}
.td-detail {
    text-align: center;
    vertical-align: middle;
}
.modal__window{
    width: 76px;
    height: 39px;
    box-sizing: border-box;
    background-color: rgba(244, 244, 244, 0.3);
    border: 1px solid rgba(217,198,181,0.6);
}
.modal__window__button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Inika', serif;
    color: #d9c6b5;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    
}
.custom-pagination-nav {
    display: flex;
    justify-content: center;
    height: 31px;
    margin-bottom: 25px;
}
.custom-pagination {
    display: flex;
    gap: 0px;
    list-style: none;
    padding: 0;
}
.custom-pagination li {
    display: inline-block;
}
.custom-pagination a,
.custom-pagination span {
    padding: 8px 14px;
    border: 1px solid #e0dfde;
    border-left: none;
    background-color: #fff;
    color: #8b7969;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.custom-pagination li:first-child a,
.custom-pagination li:first-child span {
    border-left: 1px solid #e0dfde;
}
.custom-pagination li.active span {
    background-color: #8b7969;
    color: #fff;
    border-color: #e0dfde;
}
.custom-pagination li.disabled span {
    color: #aaa;
    background-color: #f5f5f5;
    cursor: not-allowed;
}
.custom-pagination a:hover {
    background-color: #eee;
}
.modal {
    display: none;
}
.modal-show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal_is-active {
    position: relative;
    z-index: 10000;
}
.modal-content {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #8b7969;
    width: 805px;
    height: 858px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.modal__content__inner{
    width: 628px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}
.modal__table{
    margin-top: 90px;
    margin-bottom: 80px;
    width: 100%;
    border: none;
}
.modal__table__row{
    height: 56px;
}
.modal__table__row:last-child{
    height: 88px;
}
.modal__table__th{
    width: 180px;
    padding: 0;
    text-align: left;
    font-family: 'Inika', serif;
    font-size: 20px;
    color: #8b7969;
    font-weight: 700px;
}
.modal__table__row:last-child th,
.modal__table__row:last-child td{
    vertical-align: top;
    text-align: left;
}
.modal__table__row:last-child th{
    padding-top: 7px;
}
.modal__table__td{
    padding-left: 35px;
    font-family: 'Inika', serif;
    font-size: 20px;
    font-weight: 400;
    color: #8B7969;
}
.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid #8b7969;
    color: #8b7969;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.modal-close-button:hover {
    background-color: #999;
}
.delete-contact__button{
    width: 76px;
    height: 39px;
}
.delete-contact__button-submit{
    width: 100%;
    height: 100%;
    font-family: 'Inika', serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    background-color: #ba370d;
}