.register-form__content{
    width: 100%;
}
.register-form__heading {
    width: 100%;
    height: 46px;
    letter-spacing: 0;
    line-height: 1;
    text-align: center;
    margin-bottom: 30px;
}
.register{
    font-family: 'Inika', serif;
    font-size: 35px;
    font-weight: 400;
    color: #8B7969
}
.form{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    border: 1px solid #C5B9B0;
    border-radius: 10px;
    width: 736px;
    height: 644px;
}
.form__group{
    margin: 0 auto;
    width: 445px;
    height: 396px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
.form__group-inner{
    width: 100%;
    height: 102px;
    margin-bottom: 30px;
}
.form__group-title{
    margin-bottom: 15px;
}
.form__label--item{
    width: 75px;
    height: 33px;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 25px;
    line-height: 1;
    letter-spacing: 0;
    color: #8B7969;
}
.form__input--text{
    width: 100%;
    height: 55px;
    border: none;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    padding-left: 27px;

}
input{
    width: 142px;
    height: 18px;
    border: none;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0;
    background-color: #f4f4f4;
    color: #beb1a6;
}
.form__button{
    text-align: center;
}
.form__button-submit{
    text-align: center;
    margin-top: 60px;
    width: 120px;
    height: 46px;
    padding: 10px 30px;
    background-color: #82756a;
    font-family: 'Inika', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0;
    color: #ffffff;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .register-form__content {
    padding: 50px 60px;
    }
}
